<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{currentCategoryName}}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <!-- loop over the collection of products -->
                <div *ngFor="let item of products" class="col-md-3">
                    <div class="product-box">

                        <a routerLink="/products/{{item.id}}">
                            <img src="{{item.imageUrl}}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{item.id}}">
                            <h1>{{item.name}}</h1>
                        </a>
                        <div class="price">{{item.unitPrice | currency:'INR'}}</div>
                        <a href="" class="primary-btn">Add to cart</a>
                    </div>
                </div>

                <!-- if searched-product does not exist then display not found -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found
                </div>
                
            </div>
        </div>
    </div>
</div>